<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', path='img\icon_24.ico') }}" type="image/x-icon">
    <script type="text/javascript" src="{{ url_for('static', path='app.js') }}"></script>
    <title>GetDocs</title>
    <style>
        A {
    color: inherit;
      text-decoration: none;
   }
   A:hover {
    font-size: 105%;
   }
    </style>
</head>
<body>
    <header>
        <a href="/page/1"><h1><img src="{{ url_for('static', path='img\icon_32.ico') }}">GetDocs</h1></a>
        <div class="search-bar">
            <form action="/page/serch" method="post">
                <input name="serching_data" type="text" placeholder="Поиск..." autocapitalize="none">
                <button id="search_button" type="submit">Поиск</button>
            </form>
        </div>
        {% block links_top %}{% endblock %}
    </header>
    <main>
        {% block records %}{% endblock %}
    </main>
    <footer>
        {% block links_bottom %} {% endblock %}
    </footer>
    <br><br>

<script>
        (function() {
            'use strict';

            const imgBg = document.createElement('div');
            document.getElementsByTagName('body')[0].appendChild(imgBg);
            imgBg.style = 'background-color: rgba(48, 48, 48, 0.6); position: fixed; top: 0px; left: 0px; width: 100%; z-index: 1';
            imgBg.hidden = true;
            fillBg();
            window.addEventListener('resize', fillBg);

            let bigImgageScreenFraction;
            if (window.matchMedia('(max-width: 1080px)').matches) {
                bigImgageScreenFraction = 3;
            } else {
                bigImgageScreenFraction = 2;
            }

            let placeholder = document.createElement('img');
            document.querySelectorAll('img[scalable]').forEach((img) => {
                const smallSize = img.getAttribute('scalable');
                let defaultStyle = `max-width: ${smallSize}; max-height: ${smallSize}`;
                img.style = defaultStyle;
                let isGoingToSmall = false;
                img.addEventListener('click', () => {
                    if (img.getAttribute('is-big') === 'true') {
                        let coords = placeholder.getBoundingClientRect();
                        img.style = `${defaultStyle}; position: fixed; left: ${coords.left}px; top: ${coords.top}px`;
                        img.setAttribute('is-big', false);
                        imgBg.hidden = true;
                        isGoingToSmall = true;
                    } else {
                        imgBg.hidden = false;
                        img.setAttribute('is-big', true);
                        placeholder.hidden = false;
                        placeholder.style = `width: ${img.width}px; height: ${img.height}px; background-color: rgb(255, 255, 255)`;
                        img.before(placeholder);
                        doImageBig(img);
                    }
                });
                img.addEventListener('transitionend', () => {
                    if (isGoingToSmall) {
                        img.style = defaultStyle;
                        isGoingToSmall = false;
                        placeholder.hidden = true;
                    }
                });
                window.addEventListener('resize', () => {
                    if (img.getAttribute('is-big') === 'true') doImageBig(img);
                });
            });

            function fillBg() {
                imgBg.style.height = (document.documentElement.clientHeight + 100) + 'px';
            }

            function doImageBig(img) {
                let screenHeight = document.documentElement.clientHeight;
                let screenWidth = document.documentElement.clientWidth;
                let imgWidth = img.width;
                let imgHeight = img.height;
                let bigImgHeight = Math.round(imgHeight * bigImgageScreenFraction);
                let bigImgWidth = Math.round(imgWidth * bigImgageScreenFraction);
                let left = Math.round(0.5 * (screenWidth - bigImgWidth));
                let top = Math.round(0.5 * (screenHeight - bigImgHeight));
                img.style = `width: ${bigImgWidth}px; height: ${bigImgHeight}px; left: ${left}px; top: ${top}px; position: fixed; z-index: 2`;
            }
        })();
    </script>
</body>
</html>
